{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos")) -}}
#!/bin/bash
set -e
echo "[*] Arch post-install: changing shell, starting services"

chsh -s $(which fish)
mkdir -p ~/.local/share/mime/packages
update-mime-database ~/.local/share/mime
sudo systemctl enable --now bluetooth.service
sudo systemctl enable --now docker.service
sudo systemctl enable --now tailscaled.service
systemctl --user enable --now gnome-keyring-daemon.socket
sudo usermod -a -G docker $USER

sudo systemctl enable --now libvirtd.service
sudo usermod -aG libvirt $(whoami)

# ports for localsend
sudo ufw allow 53317/tcp
sudo ufw allow 53317/udp

sudo systemctl enable pcscd --now

git config --global user.email "pascal@kraupner.me"
git config --global user.name "Pascal Kraupner"

{{ end }}
