#!/bin/bash
set -e

# Hash: {{ include "dot_config/yazi/package.toml" | sha256sum }}

if command -v ya &>/dev/null; then
  echo "[*] Installing yazi packages..."
  ya pkg install
else
  echo "[!] ya not found, skipping yazi package install"
fi
