 {{ if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos")) -}}
#!/bin/bash
set -e

echo "[✔ ]All setup steps completed successfully."

read -p "Would you like to reboot now? [y/N]: " answer
case "$answer" in
  [yY][eE][sS]|[yY])
    echo "Rebooting..."
    reboot
    ;;
  *)
    echo "You can reboot later with: reboot"
    ;;
esac
{{ end }}

