@import "tokyo-night-moon.css";

* {
  border: none;
  font-family: "Iosevka Nerd Font", sans-serif;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: @bg;
  color: @fg;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  margin: 2px 2px;
}

#custom-launcher,
#workspaces,
#custom-separator,
#clock {
  margin: 6px 0;
}

#custom-launcher,
#workspaces,
#clock {
  background: @surface;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#custom-launcher {
  color: @green;
  margin-left: 10px;
}

#custom-separator {
  color: @comment;
  padding: 0;
}

#workspaces button {
  color: @blue;
  padding: 0 6px;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.occupied {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}
