@import "tokyo-night-moon.css";

* {
  font-family: "Iosevka Nerd Font", sans-serif;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: @bg;
  color: @fg;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  margin: 2px 2px;
}

#clock-group {
}

#workspaces,
#hardware,
#clock-group,
#power-profiles-daemon,
#pulseaudio,
#custom-launcher {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: @surface;
  padding: 0 10px;
  border-radius: 15px;
  color: @fg;
}

#custom-launcher {
  color: @green;
  margin-left: 10px;
}

#custom-separator {
  color: @comment;
  padding: 0;
}

#workspaces button {
  color: @blue;
  padding: 0 6px;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.occupied {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#submap {
  background-color: @red;
  color: @bg;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 15px;
  animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
