@import "tokyo-night-moon.css";

* {
  font-family: "Iosevka Nerd Font", sans-serif;
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

#waybar {
  background: @bg;
  color: @fg;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  margin: 2px 2px;
}

/* Shared margins and padding for modules */
#workspaces,
#power-profiles-daemon,
#custom-audio_idle_inhibitor,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#tray,
#network,
#idle_inhibitor {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: @surface;
  padding: 0 10px;
  border-radius: 15px;
  color: @fg;
}

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: @blue;
  background: transparent;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg;
}

#workspaces button:hover {
  border: none;
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
}

#idle_inhibitor {
  margin-right: 12px;
}
