@define-color bg #222436;
@define-color fg #c8d3f5;
@define-color black #1b1d2b;
@define-color red #ff757f;
@define-color green #c3e88d;
@define-color yellow #ffc777;
@define-color blue #82aaff;
@define-color magenta #c099ff;
@define-color cyan #86e1fc;
@define-color white #828bb8;
@define-color orange #ff966c;
@define-color purple #fca7ea;
@define-color comment #636da6;
@define-color selection #2d3f76;
@define-color surface #2f334d;
