plugins {
  sessionpicker location="file:/home/pascal/.config/zellij/plugins/zellij-choose-tree.wasm"
}

load_plugins {
  sessionpicker
}

keybinds {
  shared {
    bind "Alt s" {
      LaunchOrFocusPlugin "sessionpicker" {
        floating true
        move_to_focused_tab true
        show_plugins false
      };
    }
  }

  shared_except "locked" {
        bind "Ctrl h" {
            MoveFocusOrTab "Left";
        }
        bind "Ctrl l" {
            MoveFocusOrTab "Right";
        }
        bind "Ctrl j" {
            MoveFocus "Down";
        }
        bind "Ctrl k" {
            MoveFocus "Up";
        }
    }
}
