exec-once = sway-audio-idle-inhibit
exec-once = waybar & hypridle & mako
exec-once = swww-daemon
exec-once = swww img ~/wallpapers/wallpaper.png
exec-once = ~/.local/bin/set_refresh_rate --watch
exec-once = swayosd-server
exec-once = systemctl --user start hyprpolkitagent


{{ if eq .chezmoi.hostname .hostnames.work -}}
exec-once = enpass
exec-once = slack
{{ else -}}
exec-once = bitwarden-desktop
{{ end -}}
