exec-once = sway-audio-idle-inhibit
exec-once = waybar & hyprpaper & hypridle & mako
exec-once = swayosd-server
exec-once = systemctl --user start hyprpolkitagent
exec-once = ~/Applications/Vibe\ Typer


{{ if eq .chezmoi.hostname .hostnames.work -}}
exec-once = enpass
exec-once = slack
{{ else -}}
exec-once = bitwarden-desktop
{{ end -}}
