# ALIASES
alias cat='bat --paging=never --theme="base16"'
alias ssh='TERM="xterm-256color" ssh'
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias v="nvim"
alias dco="docker-compose"
