--enable-features=UseOzonePlatform,VaapiVideoEncoder,VaapiVideoDecoder,CanvasOopRasterization,VaapiIgnoreDriverChecks,VaapiVideoDecodeLinuxGL,AcceleratedVideoEncoder,Vulkan,DefaultANGLEVulkan,VulkanFromANGLE
--ozone-platform=wayland
--use-gl=angle
--use-angle=gl
--ignore-gpu-blocklist
--disable-gpu-memory-buffer-video-frames
